{% extends 'base.html' %}

{% block content %}
    <span class="title"><h1>{% block title %}  {% endblock %}</h1></span>
    <div class="content">
        <h2></h2>

        <div class="shadow p-3 mb-5 bg-body rounded">
            <small>Customer Id: {{ customer.id }}</small><br/>
            <h4>{{ customer.first_name }} {{ customer.last_name }}</h4>
            Email: {{ customer.email }}<br/><br/>
            Address: {{ customer.address }}<br/>
            Phone: {{ customer.phone_number }}<br/>
            <br/>

        <br/>
        </div>
        <a href="{{ url_for('customers.index') }}"
           class="btn btn-outline-secondary btn-sm">Back to customers browsing</a>

        <a href="{{ url_for('customers.update_user', id=customer.id) }}"
           class="btn btn-outline-secondary btn-sm">Update</a>



    </div>
{% endblock %}