
{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
       {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

    <span class="title"><h1>{% block title %}  {% endblock %}</h1></span>
    <div class="content">
        <h2></h2>

        {% for customer in customers  %}
        <div class="shadow p-3 mb-5 bg-body rounded">
            <small>Customer Id: {{ customer.id }}</small><br/>
            <h4>{{ customer.first_name }} {{ customer.last_name }}</h4>
            Email: {{ customer.email }}<br/><br/>
            Address: {{ customer.address }}<br/>
            Phone: {{ customer.phone_number }}<br/>
            <br/>

             <a href="{{ url_for('customers.show_customer', id=customer.id) }}"
               class="btn btn-outline-secondary btn-sm">View customer</a>

        <br/>
        </div>
        <br/>
        {% endfor %}


    </div>
{% endblock %}