{% extends 'base.html' %}

{% block content %}
    <span class="title"><h1>{% block title %} The Order Items Page {% endblock %}</h1></span>
    <div class="content">
        <h2>This is the order items Flask blueprint!</h2>
        {% for order_item in order_items %}
            <div class="post">
                <p><b>#{{ order_item.id }}</b></p>
                <p class="title">
                    <b>
                        <a href="#">
                            {{ order_item.quantity }}
                        </a>
                    </b>
                </p>
                <div class="content">
                    <p>{{ order_item.product_id }}</p>
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}