{% extends 'base.html' %}

{% block content %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">



   <div class="contact-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-2">BioFood</h1>
       <hr>
      <br><br>
      <h1 class="display-6">Contact us</h1>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">

          <div class="card-body">
            <span class="material-icons"> location_on </span>

            <h3 class="card-title">BIOFOOD ONLINE STORE</h3>

            <ul class="list-unstyled mt-3 mb-4">
              <li>Warszawska 29</li>
              <li>30-613 Krakow</li>

            </ul>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <span class="material-icons">phone</span>
            <h3 class="card-title">CUSTOMER SERVICE OFFICE</h3>
            <ul class="list-unstyled mt-3 mb-4">
              <li>phone: 433-994-199 </li>
              <li>email: shop@biofood.pl </li>

            </ul>

          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <span class="material-icons">query_builder</span>
            <h3 class="card-title">HOTLINE ACTIVE</h3>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Mon - Fri:  6:00 AM - 8:00 PM</li>
              <li>Sat: 8:00 AM - 5:00 PM </li>
            </ul>
          </div>
        </div>
      </div>



{% endblock %}