{% extends 'base.html' %}

{% block content %}




   <div class="contact-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-2">Shipping and Returns</h1>
       <hr>
      <br><br>
    </div>



    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">

          <div class="card-body">
            <span class="material-icons"> local_shipping </span>

            <h3 class="card-title">SHIPPING</h3>

            <ul class="list-unstyled mt-3 mb-4">
              <li>
                Delivery is carried out in Poland by the DPD courier company and InPost parcel lockers.
              </li>
              <br>
              <li>
                Orders are processed within <b>2 - 5 working days</b> from the moment of receiving the payment.
              </li>

            </ul>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <span class="material-icons"> assignment_return </span>
            <h3 class="card-title">RETURNS</h3>
            <ul class="list-unstyled mt-3 mb-4">
              <li>
                If the product does not meet your expectations, you can return it within 14 days.
              </li>
              <br>
              <li>phone: 433-994-199 </li>
              <li>email: shop@biofood.pl </li>

            </ul>

          </div>
        </div>

      </div>

    </div>

{% endblock %}