{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
       {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}


<br/>
<h2>Edit category...</h2>
<br/>
<div class="shadow p-3 mb5 bg-body rounded">
  <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}

        {{ form.description.label(class="form-label") }}
        {{ form.description(class="form-control", rows="10") }}

        <br/>
        {{ form.submit(class="btn btn-secondary") }}

    </form>
     {{ ckeditor.load() }}
     {{ ckeditor.config(name='description') }}


</div>
<br/>

<a href="{{ url_for('categories.index') }}" class="btn btn-outline-secondary btn-sm">Back to categories</a>


{% endblock %}