{% extends 'base.html' %}

{% block content %}
    <span class="title"><h1>{% block title %} The Orders Page {% endblock %}</h1></span>
    <div class="content">
        <h2>This is the orders Flask blueprint!</h2>
        {% for order in orders %}
            <div class="post">
                <p><b>#{{ order.id }}</b></p>
                <p class="title">
                    <b>
                        <a href="#">
                            {{ order.date_created }}
                        </a>
                    </b>
                </p>
                <div class="content">
                    <p>{{ order.status }}</p>
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}