{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
           {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}


    <span class="title"><h1>{% block title %} Please review your order {% endblock %}</h1></span>
    <div class="content">
        <br/>

             <h4>Order Details</h4>
             <div class="shadow p-3 mb-5 bg-body rounded">
                <p>Creation Date: {{ order.date_created }}</p>
                <p class="title">
                    <b>
                        <a href="#">
                            ID No: {{  order.id  }}
                        </a>
                    </b>
                </p>

            <div class="content">
                    <p> Status: {{ order.status }}</p>
                    <p> Customer ID: {{ order.customer_id }}</p>
                    <p> Payment ID: {{ order.payment_id }}</p>
                    <p> Shipment ID: {{ order.shipment_id }}</p>
                </div>
            </div>

             <h4>Shipment Details</h4>
             <div class="shadow p-3 mb-5 bg-body rounded">
                <p>Creation Date: {{ shipment.shipment_date }}</p>
                <p class="title">
                    <b>
                        <a href="#">
                            ID No: {{  shipment.id  }}
                        </a>
                    </b>
                </p>
                <div class="content">
                    <p> Country: {{ shipment.country }}</p>
                    <p> City: {{ shipment.city }}</p>
                    <p> Postal Code: {{ shipment.postal_code }}</p>
                    <p> Street: {{ shipment.street }}</p>
                    <p> House No: {{ shipment.house_number }}</p>
                    <p> Apartment No: {{ shipment.apartment_number }}</p>
                    <p> Status: {{ shipment.status }}</p>
                    <p> Shipment cost: {{ shipment.shipment_cost }}</p>

                </div>
            </div>

         <h4>Payment </h4>
             <div class="shadow p-3 mb-5 bg-body rounded">
                <p>Creation Date: {{ payment.payment_date }}</p>
                <p class="title">
                    <b>
                        <a href="#">
                            ID No: {{  payment.id  }}
                        </a>
                    </b>
                </p>
                <div class="content">
                    <p> Customer Id: {{ payment.customer_id }}</p>
                    <p> Status: {{ payment.status }}</p>
                    <p><b>Price: ${{ payment.amount }}</b></p>

                </div>
            </div>

    </div>
{% endblock %}