{% extends 'base.html' %}

{% block content %}
    <span class="title"><h1>{% block title %} The Product Page {% endblock %}</h1></span>
    <div class="content">
        <h2>This is the Product Flask blueprint!</h2>
        {% for product in products %}
            <div class="product">
                <p><b>#{{ product.id }}</b></p>
                <p class="title">
                    <b>
                        <a href="#">
                            {{ product.name }}
                        </a>
                    </b>
                </p>
                <div class="content">
                    <p>{{ product.description }}</p> <br/>
                </div>
                <div class="content">
                    <p>{{ product.price }}</p> <br/>
                </div>
                <div class="content">
                    <p>{{ product.stock }}</p> <br/>
                </div>
                 <div class="content">
                    <p>{{ product.category_id }}</p> <br/>
                </div>
                <div class="content">
                    <p>{{ product.order_item }}</p> <br/>
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}