{% extends 'base.html' %}

{% block content %}
    <span class="title"><h1>{% block title %}  {% endblock %}</h1></span>
    <div class="content">
        <h2></h2>

        {% for product in products %}
        <div class="shadow p-3 mb-5 bg-body rounded">
            <small>Product Id: {{  product.id }}</small><br/>
            <h4>{{ product.name }}</h4>
            {{ product.description }}<br/><br/>
            ${{ product.price }}<br/>
            In stock: {{ product.stock }}<br/>
            Category: {{ product.category_id}}<br/>
<!--            {{ product.order_item }}<br/>-->
            <br/>
            <a href="{{ url_for('products.show_product', id=product.id) }}"
               class="btn btn-outline-secondary btn-sm">View Product</a>
        <br/>
        </div>
        <br/>
        {% endfor %}


    </div>
{% endblock %}