{% extends 'base.html' %}

{% block content %}
    <span class="title"><h1>{% block title %} The Carts Page {% endblock %}</h1></span>
    <div class="content">
        {% for cart in carts %}
            <div class="cart">
                <p><b>#{{ cart.id }}</b></p>
                <p class="title">
                    <p><b> Product Id:{{ cart.product_id }} </b></p>
                    <b>
                        <a href="#">
                            {{ products[cart.product_id] }}
                        </a>
                        <br/>
                    </b>
                </p>
                <div class="content">
                    <p>Customer ID: {{ cart.customer_id }}</p>
                    <p>Customer : {{ customers[ cart.customer_id] }}</p>
                    <p>Quantity: {{ cart.quantity }}</p>
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}