{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
           {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <span class="title"><h1>{% block title %} The Carts Page {% endblock %}</h1></span>
    <div class="content">
        {% for cart in carts %}
            <div class="cart">
                <p><b>#{{ cart.id }}</b></p>
                <p class="title">
                    <p><b> Product Id:{{ cart.product_id }} </b></p>
                    <b>

                        <br/>
                    </b>
                </p>
                <div class="content">
                    <p>Customer ID: {{ cart.customer_id }}</p>

                    <p>Quantity: {{ cart.quantity }}</p>
                </div>
                <a href="{{ url_for('carts.delete_cart', id=cart.id) }}" class="btn btn-outline-danger btn-sm">
                Delete
            </a>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}