{% extends 'base.html' %}

{% block content %}
    <span class="title"><h1>{% block title %} The Carts Page {% endblock %}</h1></span>
    <div class="content">
        <h2>This is the carts Flask blueprint!</h2>
        {% for cart in carts %}
            <div class="post">
                <p><b>#{{ cart.cart_id }}</b></p>
                <p class="title">
                    <b>
                        <a href="#">
                            {{ cart.product_id }}
                        </a>
                    </b>
                </p>
                <div class="content">
                    <p>{{ cart.quantity }}</p>
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}