{% extends 'base.html' %}

{% block content %}
    <span class="title"><h1>{% block title %} The Orders Page {% endblock %}</h1></span>
    <div class="content">
        <h2>This is the shipments Flask blueprint!</h2>
        {% for shipment in shipments %}
            <div class="post">
                <p><b>#{{ shipment.shipment_id }}</b></p>
                <p class="title">
                    <b>
                        <a href="#">
                            {{ shipment.shipment_date }}
                        </a>
                    </b>
                </p>
                <div class="content">
                    <p>{{ shipment.city }}</p>
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}